@model Medico.Model.JournalIssueViewModel

@{
    ViewBag.Title = "Delete Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this issue?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="label">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayTitle)
        </dd>

        <dt class="label">File</dt>
        <dd>
            @Html.ActionLink(Model.FileName, "GetFile", new { id = Model.Id }, new { target = "_blank" })
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Issues",  new { id = Model.Id })
        </div>
    }
</div>