@model Medico.Model.JournalIssueViewList

@{
    ViewBag.Title = "Issues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style
{
    <style type="text/css">
        .table {
            table-layout: fixed;
        }

            .table td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    </style>
}

<h2>Publisher - List of Journal Issues for @Model.Title</h2>

<p>
    @Html.ActionLink("Create New Issue", "CreateIssue", new { Id = Model.JournalId })
</p>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Issue</th>
            <th>Created</th>
            <th>File</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.ActionLink(item.FileName, "GetFile", new { id = item.Id }, new { target = "_blank" })
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteIssue", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>
<br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Back to Journals", "Index")
    </div>
</div>
